:root {
    margin:0;
    padding:0;
}
body {
    background-color:slateblue;
}
button {
    height: 80px;
    position:relative;
    font-size:20px;
    background-color: none;
}
#Rock {
    position: absolute;
    left: 635px;
    bottom: 568px;
    z-index: 10000;
    background: rgb(255,0,0,0);
    border: none;
    color: gold;
    text-shadow: 0px 4px 4px #000;
}
#Paper {
    position: absolute;
    left: 902px;
    bottom: 568px;
    z-index: 10000;
    background: rgb(255,0,0,0);
    border: none;
    color: gold;
    text-shadow: 0px 4px 4px #000;
}
#Scissors {
    position: absolute;
    left: 1185px;
    bottom: 567px;
    z-index: 10000;
    background: rgb(255,0,0,0);
    border: none;
    color: gold;
    text-shadow: 0px 4px 4px #000;
}
#Rock:hover {
    color:white;
}
#Paper:hover {
    color:white;
}
#Scissors:hover {
    color:white;
}
.gameTitle {
display: flex;
justify-content: center;
align-items: center;
font-size: 74px;
color:gold;
z-index: 1000px;
height: 300px;
z-index: 4;

}
.paper {
    height: 180px;
    width: auto;
    position: absolute;
    left: 863px;
    z-index: 1;
}
.rock {
    position: absolute;
    left: 565px;
    z-index: 1;
}
.scissors {
    position: absolute;
    left: 1035px;
    bottom: 530px;
    z-index: 3;
}
.counterBox {
    display: flex;
    flex-direction: row;
    justify-content:center;
    justify-content: space-evenly;
    align-items: center;
    border: 10px;
    border-style: solid;
    border-color:gold;
    height: 80px;
    font-size: 26px;
    width: 650px;
    margin:auto;
    font-weight: bold;
    color: gold;
    font-size: 34px;
    position: absolute;
    top: 600px;
    left: 620px;
}
.wins {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: absolute;
    top: 728px;
    left: 795px;
    height: 100px;
    font-weight: bold;
    color: gold;
    font-size: 38px;
    
}
.losses {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: absolute;
    bottom: 172px;
    left: 1005px;
    height: 100px;
    font-weight: bold;
    color: gold;
    font-size: 38px;
}
.draws {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: absolute;
    top: 728px;
    left: 900px;
    height: 100px;
    font-weight: bold;
    color: gold;
    font-size: 38px;
}
.winBox {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    color: gold;
    position: absolute;
    left: 780px;
    top: 685px;

}
.drawBox {
    font-size: 30px;
    font-weight: bold;
    color: gold;
    position: absolute;
    top: 715px;
    left: 907px;
}
.lossBox {
    font-size: 30px;
    font-weight: bold;
    color: gold;
    position: absolute;
    top: 715px;
    left: 1012px;
}